<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="../../resources/css/style.css" type="text/css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/admin_panel :: admin"></div>

<form action="/authors/add" method="post" accept-charset="UTF-8">
    <fieldset>
        Name:<br/>
        <input type="text" name="name" id="22"/><br/>
        Info:<br/>
        <input type="text" name="info" value="Mouse"/><br/>
        <input type="submit" value="Submit"/>
    </fieldset>
</form>

</body>
</html>